.cgapi-btn {
    width: 100px;
    height: 40px;
    background-color: var(--cgapi-color-bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: var(--cgapi-color-font-primary);
} 